



h1 {
    font-size: 70px;
    margin-top: 15px; 
    margin-bottom: -15px;
    font-family: fantasy;
    margin-left: 467px;
    color: rgba(255, 0, 0, 0.596);
    font-weight: bolder;
}




p{
    font-size: 18px;
    margin-left: 290px;
    color: #fad9d9;
}

span{
    margin-left: 344px;
    color: ghostwhite;
}

b { 
    font-size: 26px;
    font-family: fantasy;
    color: rgba(255, 0, 0, 0.582);
}














