body{
  text-align: center;
  background-color: rgba(0, 0, 0, 0.482);
}

h1{
 color: rgba(255, 47, 0, 0.502);  
 text-decoration:underline;
 font-style: italic;

}
.newH5{
font-style: oblique;
font-family: times new roman;
font-weight: 900;
}
p{
 margin-left: 300px;
 margin-right: 300px;
}
img{
    border-radius: 25px;
  background: url(paper.gif);
  background-position: center;
  background-repeat: repeat;
  padding: 20px;
  width: 200px;
  height: 150px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

