
@media(min-width: 500px){
    .nav{
    font-size: 15px;
    display: flex;
    justify-items: center;
    justify-content: space-between;
    grid-column: 2 / -1;
    background-color: crimson;
    }
}

h6{
 font-family: Gill Sans;   
 font-size: 30%;
 color: aliceblue;
}

