.container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 100px 100px 100px;
    grid-gap: 5px;
    grid-flo
}

.box1 {
    background-color: red;
    grid-column: 2 / -1;
    grid-row: 1 / -1;
}

.box2{
    background-color: black;
    grid-column: 1 / -1;
    grid-row: 2 /-1;
}

.box3 {
    background-color: darkorange;
    grid-column: 3 / -1;
    grid-row: 1 /-1
}