.container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 200px 200px;
}

.goombas {
    background-image: url()
    display: flex;
    justify-items: center;
}

.box2{
    background-color: red;
}


.box3{
    background-color: green;

}

.box4{
    background-color: yellow;
}

.bottomNav{
    display: grid;
    background-color: purple;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: 40px 1fr;
}

.bob-ombUl {
    font-size: 22px;
    font-family: fantasy;
    color: #ffffff82;
}
.bob-omb{
    display: flex;
    justify-content: center;
    background-color: black;
}

.cheep-cheeps{
    
    background-color: chartreuse;
}
.cheepUl{
    font-size: 20px;
    font-family: arial;
    color: aliceblue;
}
.allTogether{
   background-color: darkgreen;

}